/* Styling for the featured content container */
.featured-content {
  z-index: 1;
  background-image: url(backgrounds/moon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  align-items: center;  
  justify-content: center;
  margin-top: 64px;
}

/* Styling for the image slider container */
.slider {
  position: relative;
  overflow: hidden;
  width: 40vw;
  border-radius: 10px;
}

/* Styling for the slides inside the slider */
.slides {
  display: flex;
  position: relative;
  width: 500%;
}

.slides input {
  display: none;
}

/* Styling for individual slides */
.slide {
  width: 20%;
  transition: 0.7s;
}

.slide img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* CSS for manual slide navigation */

.navigation-auto {
  position: absolute;
  display: flex;
  top: 95%;
  justify-content: center;
}

.navigation-manual {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 95%;
}

.manual-btn {
  border-color: grey;
  border: 1px solid;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.manual-btn:not(:last-child) {
  margin-right: 10px;
}

.manual-btn:hover {
  background: #50b967;
}

/* Styling for radio button-based slide navigation */
#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* CSS for automatic navigation */

.navigation-auto div {
  border: 1px solid grey;
  padding: 4px;
  border-radius: 10px;
  transition: 0.3s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 10px;
}

/* Styling for automatic slide navigation buttons */
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #50b967;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #50b967;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #50b967;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #50b967;
}

/* Styling for the weekly popular manga section */

.weekly-popular {
  background-color: #50b967;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.weekly-popular img {
  width: 13vw;
}
